html,body{
  height:100%;
}

main{
  padding-left: 60px;
  padding-right: 60px;
}

.searchform{
  padding:30px;
}
.searchform .input-group{
  margin-bottom:10px;
}

table tr td {
  border: solid 1px #e8e8e8;
}
table tr th {
  border: solid 1px #e8e8e8;
}
