.container{
  margin-left:16%;
  width:72%;
  color: #3e313c;

}
.product{
  border-bottom: solid 1px #e8e8e8;
  text-align: center;
}
.product li{
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  width:20%;
}
#products_header{
  border-bottom:solid 1px;
  text-align: center;
}
#products_header li{
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  width:20%;
}
#product_edit{
  position: fixed;
  right:0;
  bottom:0;
  background-color: #3e313c;
  height:100%;
  width:10%;
  text-align: center;
}
#product_edit li{
  list-style: none;
  color: #ab9ba9;
  padding: 15%;
}
#product_edit a{
  text-decoration: none;
}
